:root {
	--primaryColor: #30CFD0;
    --accentColor: #ED6E94;

    --textColor: #4d4d4d;
    --textLightColor: #898989;

	--darkGrey: #4a4a4a;
	--lightGrey: #bbb;
}

* {
	box-sizing: border-box;
	font-size: 16px;
}

html {
	height: 100%;
}

body {
	background-image: linear-gradient(to bottom, #025c7e, #4ad1cd); //linear-gradient(to bottom, #428ca2, #52c1cf, #c5ecf2);
}

input,
textarea {
	font: inherit;
}
